/*******************************************************************************
contentMenu module
*******************************************************************************/

[i-contentMenu] {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: var(--s-leading);
    padding: var(--s-leadingDouble);
}

[i-contentMenu-item] {
    padding: var(--s-leadingHalf);
    background-color: currentColor;
    text-decoration-line: none;
    text-align: center;
}

[i-contentMenu-itemLabel] {
    color: var(--c-root-bg);
    letter-spacing: 0.0313rem; /* half pixel to look prettier */
}

[i-contentMenu-item~="selected"] {
    background-color: var(--c-root-primary);
}
