---
layout: default
category: projekty
---

<menu>
    <div><a href="{{ site.baseUrl }}/kajaki/">Kajaki</a><div>
    <div><a href="{{ site.baseUrl }}/projekty/">Projekty</a><div>
    <div>
        <a href="{{ site.baseUrl }}/zabytki/de/">
            {% include trans slug='monuments' language='de' %}
        </a>
        /
        <a href="{{ site.baseUrl }}/zabytki/en/">
            {% include trans slug='monuments' language='en' %}
        </a>
        /
        <a href="{{ site.baseUrl }}/zabytki/pl/">
            {% include trans slug='monuments' language='pl' %}
        </a>
    </div>
</menu>
