/*******************************************************************************
relatedPosts module
*******************************************************************************/

[i-relatedPosts] {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: var(--global-sh);
}

[i-relatedPosts] a {
    text-decoration: none;
}

[i-relatedPost] {
    display: block;
    padding: var(--s-leadingHalf);
    box-shadow: var(--global-sh);
    line-height: var(--s-leading);
}

[i-relatedPost]:only-child {
    grid-column: 1 / span 2;
}

[i-relatedPost]:nth-child(2) {
    text-align: right;
}

[i-relatedPost-title],
[i-relatedPost-subtitle] {
    display: block;
}

[i-relatedPost-title] {
    font-style: italic;
}
