/*******************************************************************************
relatedposts module
*******************************************************************************/

[i-relatedposts] {
    display: grid;
    grid-template-columns: 50% 50%;
    box-shadow: var(--global-sh);
}

[i-relatedposts] a {
    text-decoration: none;
}

[i-relatedposts-post] {
    display: block;
    padding: var(--s-leadingHalf);
    box-shadow: var(--global-sh);
    line-height: var(--s-leading);
}

[i-relatedposts-post]:only-child {
    grid-column: 1 / span 2;
}

[i-relatedposts-post]:nth-child(2) {
    text-align: right;
}

[i-relatedposts-title],
[i-relatedposts-subtitle] {
    display: block;
}

[i-relatedposts-title] {
    font-style: italic;
}
