/*******************************************************************************
postsList module
*******************************************************************************/

[i-postsList] {
    padding: var(--s-leading);
}

[i-postsList-post] {
    padding: var(--s-leading);
}

[i-postsList-yearMark] {
    float: right;
    padding: var(--s-leading);
    color: var(--c-root-weak);
    font-family: var(--font-monospace);
}

[i-postsList-yearMark] svg {
    fill: red;
}

[i-postslist-yearmark-icon] {
    fill: blue;
}

svg[i-postslist-yearmark-icon] {
    fill: green;
}

[i-postslist-yearmark-icon] {
    /* inline-block needed as bugfix for iOS */
    display: inline-block;
    width: var(--s-leading);
    height: var(--s-leading);
}

[i-postslist-yearmark-icon],
[i-postsList-yearMark-text] {
    float: left;
}
