/*******************************************************************************
postslist module
*******************************************************************************/

[i-postslist] {
    clear: both;
}

[i-postslist-post] {
    padding: var(--s-leading);
}

[i-postslist-yearmark] {
    float: right;
    clear: both;
    padding: var(--s-leading);
    color: var(--c-root-weak);
    font-family: var(--font-monospace);
    font-weight: 300;
}

[i-postslist-yearmark] svg {
    display: block;
    margin: auto;
    width: var(--s-leading);
    height: var(--s-leading);
}
