/*******************************************************************************
user-action influenced states
*******************************************************************************/

/* links */

a {
    color: inherit;
    text-decoration: underline;
}

a:hover { color: var(--c-root-primary); }

/*
waiting for https://github.com/ianstormtaylor/css-color-function/issues/24
a:active { color: color(var(--c-root-primary) blend(var(--c-root-bg) 20%)); }
*/
a:active { color: color(var(--c-root-primary) a(- 20%)); }

/* text selection */

:focus {
    outline-color: var(--c-root-primary);
    outline-style: auto;
    outline-width: 0.25rem;
}

::-moz-focus-inner { border: 0; }

::selection {
    background-color: var(--c-root-secondary);
    color: var(--c-root-bg);
}

/* disabled elements */

[disabled] {
    pointer-events: none;
    opacity: 0.5;

    /* avoid adding up opacity on nested disabled elements */
    [disabled] { opacity: 1; }
}
