{% include trans.liquid slug="contactInfo" %}

<address>
    <h1>Projektowanie i obsługa inwestycji budowlanych - mgr inż. Olgierd Pietrzak</h1>

    ul. Paczkowska 32/2<br>
    60-171 Poznań, Polska<br>
    +48 602 399 784
</address>
