{% if page.category == 'kajaki'%}
    {% assign logoType = 'kayak' %}
{% elsif page.category == 'zabytki' %}
    {% assign logoType = 'antique' %}
{% else %}
    {% assign logoType = 'base' %}
{% endif %}

<menu i-mainMenu>
    <a i-mainMenu-logo href="{{ site.baseurl }}/">
        <svg><use xlink:href="#symbol-pobp-logo-{{ logoType }}"></svg>
    </a>
</menu>
