/*******************************************************************************
mainMenu module
*******************************************************************************/

[i-mainMenu] {
    position: fixed;
    bottom: var(--s-leading);
    right: var(--s-leading);
    background-color: var(--c-root-bg);
    box-shadow: var(--global-sh);
}

[i-mainMenu] a {
    text-decoration: none;
}

[i-mainMenu-item] {
    display: block;
    overflow: hidden;
    padding: 0.25rem;
    box-shadow: var(--global-sh);
}

[i-mainMenu-item~="logo"] {
    float: left;
    width: 4rem;
    height: 4rem;
}

[i-mainMenu-item~="logo"] svg {
    width: 100%;
    height: 100%;
}
