/*******************************************************************************
mainMenu module
*******************************************************************************/

[i-mainMenu] {
    box-shadow: var(--global-sh);
}

@media (--smaller) {
    [i-mainMenu] {
        width: 100%;
    }
}

@media (--mediumAndBigger) {
    [i-mainMenu] {
        float: right;
        margin-left: var(--s-leadingDouble);
        margin-bottom: var(--s-leadingDouble);
    }
}

/* clearfix for mainMenu */
[i-mainMenuClearfix]::after {
    content: "";
    display: table;
    clear: both;
}

/*******************************************************************************
mainMenu items
*******************************************************************************/

[i-mainMenu] a {
    text-decoration: none;
}

[i-mainMenu-item] {
    display: block;
    overflow: hidden;
    padding: 0.25rem;
    box-shadow: var(--global-sh);
}

[i-mainMenu-item~="logo"] {
    float: right;
    width: 4rem;
    height: 4rem;
}

[i-mainMenu-item~="logo"] svg {
    width: 100%;
    height: 100%;
}

[i-mainMenu-itemLabel~="selected"] {
    font-weight: 700;
}
