{% include appSetup/templateStart.liquid %}

{% include modules/mainMenu/mainMenu.liquid %}

<section role="main" i-mainMenuClearfix>
    {% if page.disableContentMenu != true %}
        {% include modules/contentMenu/contentMenu.liquid %}
    {% endif %}

    {{ content }}
</section>

{% include appSetup/templateEnd.liquid %}
