{% include appSetup/templateStart.liquid %}

{% include modules/rootnav/rootnav.liquid %}

<section role="main" i-mainmenuclearfix>
    {% if page.disableContentMenu != true %}
        {% include modules/contentnav/contentnav.liquid %}
    {% endif %}

    {{ content }}
</section>

{% include appSetup/templateEnd.liquid %}
