{% include appSetup/templateStart.liquid %}

<section role="main">

    {% include trans slug='building' %}

    {% assign zabytki=site.content_zabytki | where:"language", page.language %}

    {% for item in zabytki %}
        <a href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}

</section>

{% include appSetup/templateEnd.liquid %}
