/*******************************************************************************
app styles aggregation
*******************************************************************************/

:root {
    --c-root-txt: var(--c-bokaraGray);
    --c-root-bg: var(--c-white);
    --c-root-accent: var(--c-persianBlue);
}
