/*******************************************************************************
variables - all global and pallete variables for project
*******************************************************************************/

:root {
    /* colors palette */
    --c-persianBlue: hsl(218, 66%, 36%);
    --c-goldenrod: hsl(44, 100%, 38%);
    --c-bokaraGray: hsl(40, 4%, 15%);
    --c-timberWolf: hsl(45, 10%, 84%);
    --c-white: hsl(0, 0%, 100%);

    /* font families palette */
    --font-sansSerif:
        "Source Sans Pro",
        "Roboto",
        "PT Sans",
        "Droid Sans",
        "Fira Sans",
        "Work Sans",
        "Open Sans",
        "Noto Sans",
        "Hind",
        "Dosis",
        "Cabin",
        "Verdana",
        "Tahoma",
        sans-serif;
    --font-monospace:
        "Input Mono",
        "Office Code Pro",
        "Source Code Pro",
        "Fira Mono",
        "Inconsolata",
        "Monaco",
        "Consolas",
        "Lucida Console",
        "Liberation Mono",
        "DejaVu Sans Mono",
        monospace;

    /* leading size for all spacing between elements to be pretty */
    --root-lineHeight: 1.5;
    --s-leading: calc(var(--root-lineHeight) * 1rem);
    --s-leadingDouble: calc(var(--s-leading) * 2);
    --s-leadingHalf: calc(var(--s-leading) * 0.5);

    /* globals */
    --s-global-br: 0.125rem;
    --global-sh: inset 0 0 0 1px var(--c-root-txt), 0 0 0 1px var(--c-root-txt);
}

/*******************************************************************************
custom media queries and selectors shortcuts
*******************************************************************************/

/* media queries for scaling everything */
@custom-media --bigger (min-width: 1536px);
@custom-media --medium (min-width: 721px) and (max-width: 1535px);
@custom-media --mediumAndBigger (min-width: 721px);
@custom-media --smaller (max-width: 720px);
