/*******************************************************************************
app styles aggregation
*******************************************************************************/

:root {
    --c-root-txt: var(--c-bokaraGray);
    --c-root-bg: var(--c-timberWolf);
    --c-root-accent: var(--c-goldenrod);
}
