/*******************************************************************************
app styles aggregation
*******************************************************************************/

:root {
    --c-root-txt: var(--c-white);
    --c-root-weak: var(--c-timberWolf);
    --c-root-bg: var(--c-persianBlue);
    --c-root-primary: var(--c-goldenrod);
    --c-root-secondary: var(--c-goldenrod);
}
